header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    padding: 3rem;
    text-align: center;
    margin: 2rem 0rem 2rem 0rem;
    box-shadow: 0px 0px 20px rgba(181, 155, 105, 0.5);
}

#head-description {
    color: #998d7c;
    font-size: 18px;
    font-style: italic;
}

.hr-header {
    border: none;
    height: 1px;
    background: linear-gradient(to right, #e4d46a, #998d7c);
    margin: 1.5rem;
}

h1 {
    font-size: 68px;
    text-transform: uppercase;
    background: linear-gradient(to right, #e4d46a, #998d7c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}