.shows-list {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .show-card {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .show-card-img {
    width: 30%;
    height: auto;
  }
  
  .show-poster {
    width: 100%;
    height: auto;
  }
  
  .show-card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .show-card-table {
    width: 67%;
  }
  
  #shows {
    color: #f1f1f1;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
  }
  
  table {
    font-family: "Poppins", sans-serif;
    height: min-content;
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background: linear-gradient(to right, #e4d46a, #998d7c);
    padding: 0rem;
    text-align: left;
    font-family: "Abril Fatface", serif;
    color: #1b1b1b;
    font-size: 24px;
    width: 100%;
  }
  
  th {
    padding: 1rem;
  }
  
  td {
    text-align: left;
    padding: 0.5rem;
    vertical-align: top;
  }
  
  .td-str {
    font-weight: 600;
  }
  
  
  .show-spec {
    margin-top: 1rem;
    width: 100%;
    background-color: #cccccc;
    border-radius: 5px;
    padding: 1rem;
  }