.show-card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  min-height: 600px;
}

.show-poster {
  width: 50%;
  height: fit-content;
  object-fit: cover;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .show-card {
    flex-direction: column;
    min-height: auto;
  }

  .show-poster {
    width: 100%;
    height: auto;
  }

  summary {
    padding: 0.5rem;
  }

  .movie-info {
    max-width: 100%;
  }
}

h3#movie-title {
  font-size: 32px;
  margin-bottom: 0.5rem;
}

.show-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movie-info {
  flex: 1;
}

.hr-movie {
  border: 1px solid #999999;
  margin: 1rem 0;
}

#shows {
  color: var(--background-color);
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
}

.movie-spec-div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.movie-spec {
  background-color: var(--accent-color);
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  border-radius: 4px;
  padding: 3px 8px;
}

.shows-to-book {
  width: 100%;
}

.show-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* max-width: 300px; */
  margin-top: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.427);
  border-radius: 8px;
}

summary {
  width: 100%;
  background: linear-gradient(to right, #b0a79a, rgb(195, 188, 177));
  font-weight: 600;
  padding: 1rem;
  color: var(--primary-color);
}

.detail-content {
  padding: 1rem;
}

.show-spec {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

span {
  background-color: var(--accent-color);
  font-size: 12px;
  border-radius: 4px;
  padding: 3px 8px;
  justify-content: space-between;
}