@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ROOT - Globala färgvariabler */
:root {
  --primary-color: #1c1c1c;
  --background-color: #f1f1f1;
  --accent-color: #998d7c;
  --secondary-accent: #b2ab7e;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  color: var(--primary-color);
}

/* BODY */
body {
  min-height: 100vh;
  background-image: url('./assets/images/artdecobg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
}

/* TYPSNITT OCH STILAR */
h1, h2, h3 {
  font-family: "Abril Fatface", serif;
}

p {
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 200;
}

/* BOKNINGSBEKRÄFTELSE */
.booking-message {
  background-color: #d4edda; 
  color: #34573c; 
  border: 1px solid #c3e6cb; 
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.5;
  position: fixed;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%); 
  width: 90%; 
  max-width: 500px; 
  z-index: 9999; 
  white-space: pre-wrap; 
}

.booking-message strong {
  font-weight: bold;
}

.booking-message p {
  margin: 5px 0;
}

.booking-message .booking-detail {
  font-size: 1.1rem;
  margin-top: 5px;
}

.booking-message .booking-detail strong {
  font-weight: bold;
}